---
---

{% for emojicons in site.static_files %}
  {% if emojicons.path contains '/em/smiley/' %}
    .em{{ emojicons.basename }} {
      background: url('em/smiley/{{ emojicons.name }}');
    }
  {% endif %}
{% endfor %}

{% for emojicons in site.static_files %}
  {% if emojicons.path contains '/em/nature/' %}
    .em{{ emojicons.basename }} {
      background: url('em/nature/{{ emojicons.name }}');
    }
  {% endif %}
{% endfor %}

{% for emojicons in site.static_files %}
  {% if emojicons.path contains '/em/food/' %}
    .em{{ emojicons.basename }} {
      background: url('em/food/{{ emojicons.name }}');
    }
  {% endif %}
{% endfor %}

{% for emojicons in site.static_files %}
  {% if emojicons.path contains '/em/activity/' %}
    .em{{ emojicons.basename }} {
      background: url('em/activity/{{ emojicons.name }}');
    }
  {% endif %}
{% endfor %}

{% for emojicons in site.static_files %}
  {% if emojicons.path contains '/em/travel/' %}
    .em{{ emojicons.basename }} {
      background: url('em/travel/{{ emojicons.name }}');
    }
  {% endif %}
{% endfor %}

{% for emojicons in site.static_files %}
  {% if emojicons.path contains '/em/object/' %}
    .em{{ emojicons.basename }} {
      background: url('em/object/{{ emojicons.name }}');
    }
  {% endif %}
{% endfor %}

{% for emojicons in site.static_files %}
  {% if emojicons.path contains '/em/symbol/' %}
    .em{{ emojicons.basename }} {
      background: url('em/symbol/{{ emojicons.name }}');
    }
  {% endif %}
{% endfor %}

{% for emojicons in site.static_files %}
  {% if emojicons.path contains '/em/flag/' %}
    .em{{ emojicons.basename }} {
      background: url('em/flag/{{ emojicons.name }}');
    }
  {% endif %}
{% endfor %}

.em {
  height: 1.5em;
  width: 1.5em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}
