---
---

<!doctype html>
<html lang="en">
  <head>
    <title>Emojicons CSS</title>
    <meta charset="utf-8">
    <meta property="og:title" content="Emojicons CSS" />
    <meta property="og:image" content="http://afeld.github.io/emoji-css/emoji/thumbsup.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://nickvanderwildt.github.io/emojicons/" />
    <link rel="shortcut icon" href="public/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700" rel="stylesheet">
    <link href="emoji.css" rel="stylesheet">
    <link href="public/style.css" rel="stylesheet">
  </head>
  <body>

    <header>
      <h1>Emojicons CSS</h1>
    </header>
    <p>
      Want to include emoji in your HTML? Just include the (minified) stylesheet below, then add <code>&lt;i&gt;</code> tags to insert emoji. That's it!<br>
      <pre><code>&lt;link href="https://nickvanderwildt.github.io/emojicons/emoji-hires.css" rel="stylesheet"&gt;<br>&lt;i class="em em-1042"&gt;&lt;/i&gt;</code></pre>
    </p>

		<main class="emoji-list">
			<ul class="emojis">
	      {% comment %} This needs to match emoji.scss. {% endcomment %}
	      {% assign files = site.static_files | sort:'path' %}
	      {% for emojicons in files %}
	        {% if emojicons.path contains '/emoji-hires/' %}
	          {% assign filename = emojicons.path | replace:'/emoji-hires/','' %}
	          {% assign name = filename | replace:'@2x.png','' | replace:'+','--' %}
	          <li class="emoji">
	            <i class="em em-{{ name }}"></i> em-<span class="name">{{ name }}</span>
	          </li>
	        {% endif %}
	      {% endfor %}
	    </ul>
		</main>

  </body>
</html>
