html {
	color: #fff;
	background: black;
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 1.9;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased; }

h1 {
  margin: 0;
  font-family: 'Roboto Mono', monospace;;
  font-size: 38px;
  font-weight: normal; }

a {
  color: inherit;
  font-weight: bold; }
  a:hover { color: #999; }

.emoji-list {
	-moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
}

ul {
  font-family: 'Roboto Mono', monospace; }
  li {
    list-style: none;
    margin-bottom: .5em; }

pre,
code {
  background-color: #444;
  border-radius: 5px;
  color: #fff;
}
pre {
  padding: 10px;
}
code {
  padding: 3px 4px;
}
pre > code {
  padding: 0;
}

#content {
  margin: 0 auto;
  padding: 0 30px; }
  #header {
    max-width: 80%;
    overflow: hidden;
    zoom: 1;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 10px 0 7px 0; }
